services:
  api:
    build: .
    container_name: server-template-api
    ports:
      - "3000:3000"
    env_file:
      - .env.development
    environment:
      NODE_ENV: development
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: server-template-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: server_template_api
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
